.contenedor{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    background: rgb(193,177,177);
background: linear-gradient(90deg, rgba(193,177,177,1) 0%, rgba(166,125,160,1) 0%, rgba(159,113,156,1) 0%, rgba(156,107,154,1) 0%, rgba(104,9,121,1) 26%, rgba(106,103,171,1) 100%, rgba(0,212,255,1) 100%);
}
.card{
    border:0;
}
.card-body{
    background: url(https://thumbs.dreamstime.com/b/%C2%A1feliz-navidad-%C2%A1feliz-a%C3%B1o-nuevo-12013550.jpg);
    border-radius: 20px;
}